@import url("../../theme.css");

h1 {
    font-family: var(--font-main);
    font-weight: 700;
    color: var(--color-text);
    width: 80% !important;
    margin-left: 50px;
}

h1 strong {
    color: var(--color-strong);
    font-weight: 700;
}