@import url("../../theme.css");

main {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 857px !important;
    height: 512px;
    background-color: var(--bg-main) !important;
    border-radius: 16px;
    overflow: hidden;
}


main div.fundo {
    background-image: url("../../assets/fundoEstrelas.png") !important;
    height: 105%;


}

main div.fundo img#fundo2 {
    position: relative;
    height: 70%;
    width: 100%;
    right: 50px;
    top: 30%;

}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 75px;
    margin: 20% auto;
}